html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #202020, #111119);
  }






  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    overflow: hidden;
  }
  .clouds img {
    position: absolute;
    bottom: -150px;
    max-width: 100%;
    animation: clouds calc(8s * var(--i)) linear infinite;
  }
  @keyframes clouds {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @media only screen and (max-width: 600px) {
      .clouds img {
          bottom: 0;
      }
  }
  
  
  
  .error-text {
      position: relative;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;
  }
  
  .span {
      position: relative;
      font-size: 200px;
      padding-top: 10px;
      color: white;
      margin: 50px;
  }
  @media only screen and (max-width: 650px) {
      .span {
          font-size: 120px;
          padding-left: 25px;
          padding-top: 55px;
          margin: 20px;
      }
  }
  
  
  


  .falling-leaves {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0);
    overflow: hidden;
}
.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;
}
.leaf-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(../img/leaf.png) no-repeat;
    background-size: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
}
  
  
  
  
  
  .container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 577px;
      height: 418px;
  }
  .laptop {
      position: absolute;
      top: 137px;
      left: 119px;
      width: 340px;
      height: 190px;
  }
  .laptop-bottom path {
      fill: #959C9E;
  }
  .laptop-bottom rect {
      fill: #EBEFF0;
  }
  .laptop-lid {
      fill: #F5F7F8;
  }
  .screen-bg {
      fill: #fff;
      opacity: 0;
  }
  .feel-bad-emoji {
      opacity: 0;
      position: absolute;
  }
  .text-block {
      opacity: 0;
      position: absolute;
      font-weight: 600;
  }
  .text-block.big {
      font-size: 16px;
      padding: 6px 16px;
  }
  .text-block div {
      float: left;
      line-height: 32px;
      padding-left: 5px;
  }
  .forbidden {
      fill: #C64C4C;
      color: #953939;
      top: 49px;
	  left: 74px;
      border-radius: 4px;
      background-color: #FCBFBF;
      box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
  }
  .info-txt {
      fill: #CC7825;
      color: #995A1C;
      top: 70px;
	  left: 342px;
      border-radius: 4px;
      background-color: #FFD5AB;
      box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
  }