  /*lightning*/
  .lightining::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/lightining.png);
    top: -100px;
    transform: rotate(180deg);
    animation: lightining 4.5s linear infinite;
    opacity: 1;
  }
  @keyframes lightining {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    61% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    71% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }

  }
